body
{
  color: white;
  background: #afe8ea;
}
span
{
  font-size: 30px;
}
#camera , #result
{
  border: 2px dashed black;
  width: 350px;
  height: 300px; 
}
#result_emotion_name ,#result_emotion_name2  
{
  color: black;
}
.emotion_name
{
  font-size: 40px;
}
.emoji
{
  font-size:72px;
}
.heading
{
  font-size: 25px;
  border-radius: 20px;
  letter-spacing: 10px;
}
label
{
    font-size: 13px;
  color: #00ff44;
  padding: 6px;
  border-radius: 120px;
  background-color: white;
}